<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSuite" parallel="methods">
<parameter name="browserType" value="firefox"/>
<parameter name="browserType" value="chrome"/>
<test name="Chrome Test">

<classes>
<class name="com.restaurants.smoke.Tests">
		</class>
		</classes>
		</test>
		<test name="FireFox Test">
		
		<classes>
		<class name="com.restaurants.smoke.Tests">
		</class>
		</classes>
		</test>
		</suite>
		
		